<!-- Personal info form -->
<%= form_with model: current_client, url: clients_profile_path do |f| %>
    <%= render 'shared/errors', object: current_client%>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
        <!-- First Name -->
        <div>
            <%= f.label :first_name, class: "text-gray-700 text-lg"%>
            <%= f.text_field :first_name, class: "block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring", placeholder: User.human_attribute_name('first_name')%>
        </div>
        
        <!-- Last Name -->
        <div>
            <%= f.label :last_name, class: "text-gray-700 text-lg"%>
            <%= f.text_field :last_name, class: "block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring", placeholder: User.human_attribute_name('last_name')%>
        </div>
        
        <!-- City -->
        <div class="">
            <%= f.label :city, class: "text-gray-700 text-lg"%>
            <%= f.grouped_collection_select(:city_id, District.all.decorate.drop(1), :cities, :title, :id, I18n.locale, 
                { include_blank: t('global.select'), selected: params[:city_id] || current_client.city_id}, 
                {class: "block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"})%>
        </div>
       
        <!-- Gender -->
        <div>
            <%= f.label :gender, class: "ext-gray-700 text-lg" %>
            <%= f.select(:gender, options_for_select([[User.human_attribute_name('male'), 'male'], [User.human_attribute_name('female'), 'female']], current_client.gender), {include_blank: t('global.select')}, {class: "block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"})%>
        </div>
        
        <!-- Birthday -->
        <div>
            <%= f.label :birthday, User.human_attribute_name('birthday'), class: "text-gray-700 text-lg" %>
            <%= f.date_field :birthday, autocomplete: "birthday", 
             class: "block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
            %>
        </div>
    </div>
    
    <!-- Avatar -->
    <div class="flex mt-6 mb-12 grid grid-rows-1 text-center items-center justify-center">
        <label class="block text-sm font-medium text-white">
        Image
      </label>
      <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
        <div class="space-y-1 text-center">
          <%= f.label :avatar, class: "cursor-pointer" do %>
              <% if current_client.avatar.present?%>
                  <%= image_tag(current_client.avatar_thumb, class: "cursor-pointer object-cover mx-auto h-12 w-12 rounded-full", alt: "avatar") %>
              <% else %>
              <svg class="mx-auto h-12 w-12 text-gray-700" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <% end %>
              <div class="text-gray-700 mt-1 mb-2 justify-center text-center text-base" data-controller="image" id="Img">
                  <span class="relative rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                      <%= t(current_user.avatar.present? ? 'global.update' : 'global.upload', model: User.human_attribute_name('avatar'))%>
                  </span>
                      <%= f.file_field :avatar, multiple: false, class: "sr-only", accept: "image/png, image/jpeg, image/jpg", "data-image-target": "input", "data-action": "image#preview" %>
              </div>
              <p class="text-xs text-gray-700">
                PNG, JPG, GIF up to 10MB
              </p>
          <% end %>
        </div>
      </div>
      <%= tag.p class: 'mt-3 space-x-1' do %>
            <%= f.check_box :remove_avatar %>
            <%= f.label :remove_avatar%>
      <% end if current_client.avatar.present? %>
    </div>
    
        <!-- Contact Information -->
        <hr>
        <h6 class="text-gray-500 text-xl my-6 font-bold uppercase">
          <%= t('contacts')%>
        </h6>
    
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 mb-12">
        <!-- Additional Phone input -->
        <div class="">
           <%= f.label :additional_phone, class: "text-lg" %>
           <%= f.text_field :additional_phone, autocomplete: "phone", 
            class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
            placeholder: '+(972) __-___ ____',
            required: false
           %>
        </div>
    
        <!-- WhatsApp input -->
        <div class="">
           <%= f.label :whatsapp, 'WhatsApp', class: "text-lg" %>
           <%= f.text_field :whatsapp, autocomplete: "phone", 
            class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
            placeholder: '+(972) __-___ ____',
            required: false
           %>
        </div>
    
        <!-- Telegram input -->
        <div class="">
           <div class="flex items-center">
               <%= f.label :telegram, 'Telegram', class: "text-lg mr-1" %>
               <!-- Popover button-->
               <%= render 'shared/buttons/popover', text: t('telegram.telegram_popover'), icon: 'icons/icons8-info-50.png'%>
           </div>
           <%= f.text_field :telegram, autocomplete: "phone", 
            class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
            placeholder: '@example',
            required: false
           %>
        </div>
    
        <!-- Facebook input -->
        <div class="">
           <div class="flex items-center">
                  <%= f.label :facebook, 'Facebook', class: "text-lg mr-1" %>
               <!-- Popover button-->
               <%= render 'shared/buttons/popover', text: t('facebook.facebook_popover'), icon: 'icons/icons8-info-50.png'%>
           </div>
           <%= f.text_field :facebook, autocomplete: "phone", 
            class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
            placeholder: "https://web.facebook.com/example",
            required: false
           %>
        </div>
    </div>
    
    
    
    <!-- Button Save -->
    <div class="flex justify-start mt-6">
        <%= f.submit t('global.save_btn'), class: "cursor-pointer px-6 py-2 leading-5 text-white transition-colors duration-200 transform  rounded-md  focus:outline-none bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4"%>
    </div>
<% end %>
