<%= turbo_frame_tag product do %>
    <div class="<%= ['index', 'main'].eql?([action_name, controller_name]) ? 'w-screen w-[25rem] sm:w-[18rem]' : 'w-full'%>
            flex-shrink-0 bg-white rounded-lg border border-gray-200 shadow-md hover:shadow-xl">
        <%= render 'active_storage/attachments/carousel', object: product %>
        <div class="p-5">
            <%= tag.div class: "flex justify-center items-center" do %>
                <%= "Product from carrier"%>
                <%= image_tag('icons/icons8-done-40.png', class: 'ml-2 w-5 h-5')%>
            <% end  if product.user.type == Company.name%>
            <!-- Title -->
            <%= tag.h5 product.title, class: "mb-2 text-2xl font-bold tracking-tight text-gray-600"%>
            <!-- Category -->
            <%= tag.p "#{Product.human_attribute_name('category')}: #{product.category_name}", class: "mb-3 font-normal text-gray-500" if ['show', 'products'].eql?([action_name, controller_name])%>
            <!-- Type -->
            <%= tag.p "#{Product.human_attribute_name('things')}: #{product.thing_name}", class: "mb-3 font-normal text-gray-500"%>
            <!-- Condition -->
            <%= tag.p "#{Product.human_attribute_name('condition')}: #{product.condition_name}", class: "mb-3 font-normal text-gray-500"%>
            <!-- Description -->
            <%= tag.p "#{Product.human_attribute_name('description')}: #{product.description}", 
                class: "mb-3 font-normal text-gray-500" if ['show', 'products'].eql?([action_name, controller_name])%>
            <!-- Card Footer -->
            <div class="flex items-center justify-between mt-4">
                <!-- Created at -->
                <%= tag.p product.created_at, class: "text-sm text-gray-500"%>
                <!-- Price -->
                <%= tag.p "#{Product.human_attribute_name('price')}: #{product.price} ₪", 
                    class: "mb-2 text-xl text-end font-medium  text-gray-600" if ['show', 'products'].eql?([action_name, controller_name])%>
                <!-- View more button -->
                <%= render 'shared/buttons/view_more', path: product_path(product) unless ['show', 'products'].eql?([action_name, controller_name]) %>
            </div>
        </div>
        <!-- Views -->
        <%= render 'shared/buttons/views', object: product%>
        <!-- Control buttons -->
        <% if current_user.products.all.include?(product) %>
            <hr class="mb-3">
            <!-- Mark as sold -->
            <div class="flex justify-center w-full -mb-3">
                <% if product.sold == true%>
                    <%= link_to clients_mark_as_sold_path(product), class: "flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800", data: { turbo_method: :post, turbo_confirm: t('global.are_you_sure') } do %>
                        <%= Product.human_attribute_name('sold') %>
                        <%= image_tag('icons/icons8-done-40.png', class: 'ml-2 w-5 h-5')%>
                    <% end%>
                <% else%>
                    <%= link_to clients_mark_as_sold_path(product), class: "flex items-center py-2 px-3 text-sm font-medium text-center text-gray-700 bg-gray-100 rounded-lg hover:bg-gray-200", data: { turbo_method: :post, turbo_confirm: t('global.are_you_sure') } do %>
                        <%= t('product.mark_as_sold') %>
                    <% end %>
                <% end %>
            </div>
            <%= render 'shared/buttons/control_buttons', model: product, 
                edit_path: [:edit, :clients, product], publish_path: [:clients, :publish, product], del_path: [:clients, product]%>
        <% end %>
    </div>
<% end %>