<!-- Carriers truck form -->
<%= turbo_frame_tag @truck do %>
    <%= form_with(model: [:companies, @truck], class: "contents") do |f| %>
      <%= render 'shared/error_messages', resource: @truck %>
      <div class="grid grid-cols-1 gap-6 mt-4 md:grid-cols-2">
          <!-- Images -->
          <%= tag.div (render 'carrierwave/images/carousel', object: @truck), 
              class: "col-span-full sm:px-[6rem] md:px-[14rem] w-full justify-center" if ['edit', 'update'].include?(action_name)%>
          <!-- Districts -->
          <div class="flex items-center text-gray-600 justify-center col-span-full space-x-2 rtl:space-x-reverse">
              <div class="flex items-center text-center space-x-2 rtl:space-x-reverse">
                  <%= image_tag(asset_path('icons/icons8-tracking-50.png'), class: "w-5 h-5")%>
                  <%= f.label :districts, class: "text-lg" %>
              </div>
              <div class="grid grid-cols-2 md:grid-cols-3 gap-3 mt-1">
                  <%= f.collection_check_boxes(:district_ids, District.all, :id, I18n.locale) do |b| %> 
                      <%= b.label(class: "text-base form-control block w-full p-2 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rtl:bg-left") { b.check_box + '  ' + b.text}%>
                  <% end%>
              </div>
          </div>
          <div>
              <!-- Body type -->
              <div class="flex items-center text-gray-600 justify-center mb-3 space-x-2 rtl:space-x-reverse">
                  <div class="flex items-center text-center space-x-2 rtl:space-x-reverse">
                      <%= image_tag(asset_path('icons/icons8-truck-50.png'), class: "w-5 h-5")%>
                      <%= f.label :body_type, class: "text-lg" %>
                  </div>
                   <%= f.select(:body_type, options_for_select(Truck.body_type_select, @truck.body_type), {include_blank: t('global.select')}, {class: "text-base form-control block w-auto px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none rtl:bg-left"})%>
              </div>
              <!-- Assembly -->
              <div class="flex items-center text-gray-600 justify-center mb-3 space-x-2 rtl:space-x-reverse">
                  <div class="flex items-center text-center space-x-2 rtl:space-x-reverse">
                      <%= image_tag(asset_path('icons/icons8-job-50.png'), class: "w-5 h-5")%>
                      <%= f.label :assembly, class: "text-lg" %>
                  </div>
                  <%= f.select(:assembly, options_for_select(Truck.assembly_select, @truck.assembly), {include_blank: t('global.select')}, {class: "text-base form-control block w-auto px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none rtl:bg-left"})%>
              </div>
              <!-- Packing -->
              <div class="flex items-center text-gray-600 justify-center mb-3 space-x-2 rtl:space-x-reverse">
                  <div class="flex items-center text-center space-x-2 rtl:space-x-reverse">
                      <%= image_tag(asset_path('icons/icons8-packing-50.png'), class: "w-5 h-5")%>
                      <%= f.label :packing, class: "text-lg" %>
                  </div>
                  <%= f.select(:packing, options_for_select(Truck.packing_select, @truck.packing), {include_blank: t('global.select')}, {class: "text-base form-control block w-auto pl-4 pr-8 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none rtl:bg-left"})%>
              </div>
          </div>
          <div>
              <!-- Length -->
              <div class="flex items-center text-gray-600 justify-center mb-3 space-x-2 rtl:space-x-reverse">
                  <%= image_tag(asset_path('icons/icons8-truck-length-50.png'), class: "w-5 h-5")%>
                  <%= f.label "#{Truck.human_attribute_name("length")}: ", class: "text-lg" %>
                  <%= f.number_field :length, step: :any, class: "block w-20 mr-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" %>
                  <span>m.</span>
              </div>
              <!-- Width -->
              <div class="flex items-center text-gray-600 justify-center mb-3 space-x-2 rtl:space-x-reverse">
                  <%= image_tag(asset_path('icons/icons8-width-50.png'), class: "w-5 h-5")%>
                  <%= f.label "#{Truck.human_attribute_name("width")}: ", class: "text-lg" %>
                  <%= f.number_field :width, step: :any, class: "block w-20 mr-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" %>
                  <span>m.</span>
              </div>
              <!-- Height -->
              <div class="flex items-center text-gray-600 justify-center mb-3 space-x-2 rtl:space-x-reverse">
                  <%= image_tag(asset_path('icons/icons8-truck-height-50.png'), class: "w-5 h-5")%>
                  <%= f.label "#{Truck.human_attribute_name("height")}: ", class: "text-lg" %>
                  <%= f.number_field :height, step: :any, class: "block w-20 mr-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" %>
                  <span>m.</span>
              </div>
              <!-- Load capacity -->
              <div class="flex items-center text-gray-600 justify-center mb-3 space-x-2 rtl:space-x-reverse">
                  <%= image_tag(asset_path('icons/icons8-load-capacity.png'), class: "w-5 h-5")%>
                  <%= f.label :load_capacity, "#{Truck.human_attribute_name("load_capacity")}: ", class: "text-lg" %>
                  <%= f.number_field :load_capacity, step: :any, class: "block w-20 mr-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" %>
                  <span>ton.</span>
              </div>
          </div>
      </div>
       <!-- Images -->
      <% @truck.images.each do |image| %>
        <%= f.hidden_field :images, multiple: true, value: image.identifier, id: image.identifier %>
      <% end %>
      <div class="flex mt-6 grid grid-rows-1 text-center items-center justify-center">
          <label class="block text-sm font-medium text-white">
        </label>
        <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
          <div class="space-y-1 text-center">
            <%= f.label :images, class: "cursor-pointer" do %>
                <svg class="mx-auto h-12 w-12 text-gray-700" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                  <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <div class="text-gray-700 mt-1 mb-2 justify-center text-center text-base" data-controller="image" id="Img">
                    <span class="relative rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                        <%= t(@truck.images.present? ? 'global.update' : 'global.upload', model: Truck.human_attribute_name('images'))%>
                    </span>
                        <%= f.file_field :images, multiple: true, 
                            class: "sr-only", 
                            accept: "image/png, image/jpeg, image/jpg", "data-image-target": "input", "data-action": "image#preview",
                            required: false 
                        %>
                </div>
                <p class="text-xs text-gray-700">
                  PNG, JPG, GIF up to 10MB
                </p>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Button Save -->
      <div class="flex justify-start mt-6">
          <%= f.submit t('global.save_btn'), class: "cursor-pointer px-6 py-2 leading-5 text-white transition-colors duration-200 transform  rounded-md  focus:outline-none bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4"%>
      </div>
    <% end %>
<% end %>