
<%= turbo_frame_tag thing, 
    class: 'items-center inline-flex mx-auto w-full grid grid-cols-9 gap-6 border-b border-b-gray-300 hover:border-b-gray-500' do %>
        <!-- Ru -->
        <%= tag.div thing.ru, class: "ml-1 col-span-2 py-1.5"%>
        <!-- En -->
        <%= tag.div thing.en, class: "col-span-2 py-1.5"%>
        <!-- He -->
        <%= tag.div thing.he, class: "col-span-2 py-1.5"%>
        <!-- Uk -->
        <%= tag.div thing.uk, class: "ml-1 col-span-2 py-1.5"%>
        <div class="flex items-center justify-end -ml-2 sm:mr-1">
            <!-- Edit -->
            <%= link_to edit_admins_category_thing_path(thing.category, thing), data: {turbo_frame: dom_id(thing)},
                class: 'col-span-1  py-1.5 flex  text-base font-medium justify-end items-center text-end text-gray-500 hover:text-gray-700 hover:underline' do %>
                <%= image_tag(asset_path('icons/icons8-edit-48.png'), class: 'w-5 h-5')%>
            <% end %>
            <!-- Delete -->
            <%= link_to admins_category_thing_path(thing.category, thing), data: {turbo_method: :delete, turbo_confirm: t('global.are_you_sure')},
              class: 'col-span-1  py-1.5 flex text-base font-medium justify-end items-center text-end text-gray-500 hover:text-gray-700 hover:underline' do %>
                <%= image_tag(asset_path('icons/icons8-remove-32.png'), class: 'w-5 h-5')%>
            <% end %>
        </div>
<% end %>

