<!-- Calculator categories form -->
<%= turbo_frame_tag dom_id(@new, 'form') do %>
    <%= form_with model: [:admins, @new], class: "grid grid-flow-row auto-rows-max w-full" do |f| %>
      <!-- Error messages -->
      <%= tag.div (render 'shared/error_messages', resource: @new), class: 'col-span-full' %>
      <div class="grid grid-flow-row auto-rows-max w-full">
          <%= tag.div (render 'active_storage/attachments/carousel', object: @new), 
              class: "col-span-full md:px-[14rem] w-full justify-center" if ['edit', 'update'].include?(action_name)%>
          <!-- Images -->
          <div class="flex mt-6 grid grid-rows-1 text-center items-center justify-center">
              <label class="block text-sm font-medium text-white">
            </label>
            <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
              <div class="space-y-1 text-center">
                <%= f.label :append_images, class: "cursor-pointer" do %>
                    <svg class="mx-auto h-12 w-12 text-gray-700" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                      <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="text-gray-700 mt-1 mb-2 justify-center text-center text-base" data-controller="image" id="Img">
                        <span class="relative rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500"><%= @new&.images&.present? ? 'Change images' : 'Upload images'%></span>
                            <%= f.file_field :append_images, multiple: true, 
                                class: "sr-only", 
                                accept: "image/png, image/jpeg, image/jpg", "data-image-target": "input", "data-action": "image#preview",
                                required: false 
                            %>
                    </div>
                    <p class="text-xs text-gray-700">
                      PNG, JPG, GIF up to 10MB
                    </p>
                <% end %>
              </div>
            </div>
          </div>
          
          <!-- Title -->
          <div class="text-gray-600 justify-center mt-6">
              <%= f.text_field :title, class: "w-full mr-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring", placeholder: News.human_attribute_name('title')%>
          </div>
          
          <!-- Description -->
          <div class="text-gray-600 justify-center mt-6">
              <%= f.text_area :description, class: "p-3 w-full mr-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring", placeholder: News.human_attribute_name('description')%>
          </div>
          
          <!-- Content -->
          <div class="text-gray-600 justify-center col-span-full mt-6 w-full">
              <%= f.rich_text_area :content, class: "w-full p-2 mr-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 focus:outline-none focus:ring"%>
          </div>
          
      </div>
      
      <!-- Button Save -->
      <div class="flex justify-start mt-6">
          <%= f.submit t('global.save_btn'), class: "cursor-pointer px-6 py-2 leading-5 text-white transition-colors duration-200 transform  rounded-md  focus:outline-none bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4"%>
      </div>
    <% end %>
    <%= link_to t('admin_menu.news'), admins_news_index_path, 
        class: "mt-6 rounded-lg py-3 px-5 bg-gray-200 inline-block font-medium", data: {turbo_frame: '_top'}
    %>
<% end %>