<!-- Rating form -->
<%= turbo_frame_tag dom_id(@reviewable, 'review_form') do %>
    <%= form_with model: [@reviewable, review], 
        class: "bg-white rounded-lg shadow-md p-5",
        method: method do |f| 
    %>
      <% if review.errors.any? %>
        <% review.errors.each do |error| %>
          <%= error.full_message %>
        <% end %>
      <% end %>
  
      <div class="grid gap-5 grid-cols-2 sm:grid-cols-3 md:grid-cols-2 xl:grid-cols-3 justify-center">
          <div class="w-full text-center">
              <%= tag.p Review.human_attribute_name('politeness'), class: "text-lg font-medium text-gray-500 mr-2"%>
              <span class="text-sm font-medium text-gray-500 ">
                  <%= f.select(:politeness, options_for_select(1. upto(10).to_a, review.politeness), {}, {class: "pl-2 pr-7 rounded-xl"})%>
              </span>
          </div>
          <div class="w-full text-center">
              <%= tag.p Review.human_attribute_name('punctuality'), class: "text-lg font-medium text-gray-500 mr-2"%>
              <span class="text-sm font-medium text-gray-500">
                  <%= f.select(:punctuality, options_for_select(1. upto(10).to_a, review.punctuality), {}, {class: "pl-2 pr-7 rounded-xl"})%>
              </span>
          </div>
          <div class="w-full text-center">
              <%= tag.p Review.human_attribute_name('sociability'), class: "text-lg font-medium text-gray-500 mr-2"%>
              <span class="text-sm font-medium text-gray-500">
                  <%= f.select(:sociability, options_for_select(1. upto(10).to_a, review.sociability), {}, {class: "pl-2 pr-7 rounded-xl"})%>
              </span>
          </div>
          <div class="w-full text-center">
              <%= tag.p Review.human_attribute_name('safety'), class: "text-lg font-medium text-gray-500 mr-2"%>
              <span class="text-sm font-medium text-gray-500">
                  <%= f.select(:wholeness_things, options_for_select(1. upto(10).to_a, review.wholeness_things), {}, {class: "pl-2 pr-7 rounded-xl"})%>
              </span>
          </div>
          <div class="w-full text-center">
              <%= tag.p Review.human_attribute_name('speed'), class: "text-lg font-medium text-gray-500 mr-2"%>
              <span class="text-sm font-medium text-gray-500">
                  <%= f.select(:speed, options_for_select(1. upto(10).to_a, review.speed), {}, {class: "pl-2 pr-7 rounded-xl"})%>
              </span>
          </div>
          <div class="w-full text-center">
              <%= tag.p Review.human_attribute_name('value_money'), class: "text-lg font-medium text-gray-500 mr-2"%>
              <span class="text-sm font-medium text-gray-500">
                  <%= f.select(:value_money, options_for_select(1. upto(10).to_a, review.value_money), {}, {class: "pl-2 pr-7 rounded-xl"})%>
              </span>
          </div>
      </div>
  
      <!-- Submit button -->
      <div class="text-center lg:text-center">
          <%= f.submit t('global.send_btn'), class: "w-1/3 text-white bg-gradient-to-r from-blue-600 via-blue-700 to-blue-800 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-xl px-5 py-2.5 text-center mt-6" %>
      </div>
    <% end %>
<% end %>
