<!-- Rating form -->
<%= turbo_frame_tag dom_id(@reviewable, 'review_form') do %>
    <%= form_with model: @review,
        class: "flex justify-center" do |f| 
    %>
      <!-- Errors -->
      <% if @review.errors.any? %>
        <% @review.errors.each do |error| %>
          <%= error.full_message %>
        <% end %>
      <% end %>
      <!-- Company_id -->
      <%= f.hidden_field :company_id, value: @reviewable.id %>
      <div class="flex flex-col w-full h-full dark:bg-gray-900 dark:text-gray-100">
      	<div class="flex flex-col items-center w-full">
            <!-- Ratings -->
      		<div class="flex flex-col items-center py-4 space-y-2">
                <!-- Rating -->
      			<span class="text-center text-gray-500">How would you rate the services of the carrier?</span>
                <%= turbo_frame_tag 'rating_stars', class: "flex space-x-3" do %>
                    <% 0.upto(5) do |i| %>
                        <%= button_to current_client.company_review(@reviewable) ? edit_review_path(@review) : new_review_path, 
                            method: :get, 
                            params: {
                                star_rating: i != params[:star_rating].to_i ? i : params[:star_rating].to_i , 
                                price_rating: @review.decorate.price_value(params), 
                                company_id: @reviewable.id
                            }, 
                            class: "#{'hidden' if i == 0}",
                            data: {turbo_frame: 'modal'} do %>
                            <%= heroicon 'star', variant: 'solid',
                                class: "w-8 h-8 hover:text-yellow-400 #{@review.decorate.star_color(params, i)}" %>
                        <% end %>
                    <% end %>
                    <%= f.hidden_field :rating, value: params[:star_rating].to_i > 0 ? params[:star_rating].to_i : @review.rating %>
                <% end %>
                <!-- Price -->
                <span class="text-center text-gray-500">How do you estimate the cost of carrier services?</span>
                <%= turbo_frame_tag 'rating_price', class: "flex space-x-3" do %>
                    <% 0.upto(5) do |i| %>
                        <%= button_to current_client.company_review(@reviewable) ? edit_review_path(@review) : new_review_path, 
                            method: :get, 
                            params: {
                                price_rating: i != params[:price_rating].to_i ? i : params[:price_rating].to_i , 
                                star_rating: @review.decorate.star_value(params), 
                                company_id: @reviewable.id
                            }, 
                            class: "#{'hidden' if i == 0}",
                            data: {turbo_frame: 'modal'} do %>
                            <%= heroicon 'currency-dollar', variant: 'solid',
                                class: "w-8 h-8 #{@review.decorate.price_color(params, i)} #{review_hover_price_color(i)}" %>
                        <% end %>
                    <% end %>
                    <%= f.hidden_field :price, value: params[:price_rating].to_i > 0 ? params[:price_rating].to_i : @review.price %>
                <% end %>
      		</div>
            <!-- Review form -->
      		<div class="flex flex-col w-full">
                <!-- Title -->
                <%= f.text_field :title, placeholder: 'Title', 
                    class: "p-2 rounded-md resize-none w-full h-auto bg-gray-100 dark:text-gray-100 dark:bg-gray-900"%>
                <!-- Content -->
                <%= f.text_area  :content, placeholder: 'Your comment here', 
                    class: "p-2 mt-3 rounded-md w-full h-[6rem] sm:h-[8rem] bg-gray-100 dark:text-gray-100 dark:bg-gray-900"%>
                <!-- Submit -->
                <%= f.submit t('global.send_btn'), 
                    class: "py-4 mt-6 mb-3 font-semibold rounded-lg text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br  dark:text-gray-900 dark:bg-violet-400 cursor-pointer" %>
      		</div>
      	</div>
      </div>
    <% end %>
<% end %>
