<!-- Rating form -->
<%= turbo_frame_tag dom_id(@reviewable, 'review_form') do %>
    <%= form_with model: @review,
        class: "flex justify-center" do |f| 
    %>
      <% if @review.errors.any? %>
        <% @review.errors.each do |error| %>
          <%= error.full_message %>
        <% end %>
      <% end %>
      <!-- Company_id -->
      <%= f.hidden_field :company_id, value: @reviewable.id %>
      <div class="flex flex-col w-full h-full dark:bg-gray-900 dark:text-gray-100">
      	<div class="flex flex-col items-center w-full">
            <!-- Rating stars -->
      		<div class="flex flex-col items-center py-6 space-y-3">
      			<span class="text-center text-gray-500">How was your experience?</span>
                <%= turbo_frame_tag 'rating_stars', class: "flex space-x-3" do %>
                    <% 0.upto(5) do |i| %>
                        <%= button_to current_client.company_review(@reviewable) ? edit_review_path(@review) : new_review_path, 
                            method: :get, params: {star_rating: i, company_id: @reviewable.id}, class: "#{'hidden' if i == 0}",
                            data: {turbo_frame: 'modal'} do %>
                            <%= heroicon 'star', variant: 'solid',
                                class: "w-10 h-10 hover:text-yellow-400 #{@review.decorate.star_color(params, i)}" %>
                        <% end %>
                    <% end %>
                    <%= f.hidden_field :rating, value: params[:star_rating].to_i > 0 ? params[:star_rating].to_i : @review.rating %>
                <% end %>
      		</div>
      		<div class="flex flex-col w-full">
                <%= f.text_field :title, placeholder: 'Title', 
                    class: "p-2 rounded-md resize-none w-full h-auto bg-gray-100 dark:text-gray-100 dark:bg-gray-900"%>
                <%= f.text_area  :content, placeholder: 'Your comment here', 
                    class: "p-2 mt-3 rounded-md w-full h-[6rem] sm:h-[10rem] bg-gray-100 dark:text-gray-100 dark:bg-gray-900"%>
                <%= f.submit t('global.send_btn'), 
                    class: "py-4 mt-6 font-semibold rounded-lg text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br  dark:text-gray-900 dark:bg-violet-400 cursor-pointer" %>
              <!-- <button type="button" class="py-4 my-8 font-semibold rounded-md dark:text-gray-900 dark:bg-violet-400">Leave feedback</button> -->
      		</div>
      	</div>
        
      </div>
    <% end %>
<% end %>
