<section class="mb-6" id="content">
    <div class="container py-10 mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
            <!-- Companies rating -->
            <div class="flex flex-col items-center p-6 space-y-3 text-center bg-gray-100 rounded-xl">
                <span class="inline-block p-3 text-blue-500 bg-blue-100 rounded-full">
                    <%= heroicon 'star', class: "w-6 h-6 text-yellow-400", variant: 'solid', alt: "rating" %>
                </span>
                <!-- Title -->
                <%= tag.h1 t('about.carriers.title'), class: "text-xl font-semibold text-gray-700" %>
                <!-- Desc -->
                <%= tag.p t('about.carriers.desc_html'), class: "text-gray-500" %>
                <!-- Link -->
                <%= link_to users_path, class: "flex items-center -mx-1 text-sm text-blue-500 transition-colors duration-300 transform hover:underline hover:text-blue-600" do %>
                    <%= tag.span t('company.find_carrier'), class: "mx-1" %>
                    <%= heroicon 'arrow-right', class: "w-4 h-4 mx-1 rtl:-scale-x-100", alt: "arrow-right" %>
                <% end %>
            </div>
            
            <!-- Market -->
            <div class="flex flex-col items-center p-6 space-y-3 text-center bg-gray-100 rounded-xl">
                <span class="inline-block p-3 text-blue-500 bg-blue-100 rounded-full">
                    <%= heroicon 'shopping-bag', class: "w-6 h-6", alt: "shopping-bag" %>
                </span>
                <!-- Title -->
                <%= tag.h1 t('about.market.title'), class: "text-xl font-semibold text-gray-700" %>
                <!-- Desc -->
                <%= tag.p t('about.market.desc_html'), class: "text-gray-500" %>
                <!-- Link -->
                <%= link_to products_path, class: "flex items-center -mx-1 text-sm text-blue-500 transition-colors duration-300 transform hover:underline hover:text-blue-600" do %>
                    <%= tag.span t('pages.market'), class: "mx-1" %>
                    <%= heroicon 'arrow-right', class: "w-4 h-4 mx-1 rtl:-scale-x-100", alt: "arrow-right" %>
                <% end %>
            </div>
            
            <!-- Mooving preparation -->
            <div class="flex flex-col items-center p-6 space-y-3 text-center bg-gray-100 rounded-xl">
                <span class="inline-block p-3 text-blue-500 bg-blue-100 rounded-full">
                    <%= heroicon 'newspaper', class: "w-6 h-6", alt: "newspaper" %>
                </span>
                <!-- Title -->
                <%= tag.h1 t('about.moving_preparation.title'), class: "text-xl font-semibold text-gray-700" %>
                <!-- Desc -->
                <%= tag.p t('about.moving_preparation.desc_html'), class: "text-gray-500" %>
                <!-- Link -->
                <%= link_to moving_preparation_path, class: "flex items-center -mx-1 text-sm text-blue-500 transition-colors duration-300 transform hover:underline hover:text-blue-600" do %>
                    <%= tag.span t('moving_preparation.title'), class: "mx-1" %>
                    <%= heroicon 'arrow-right', class: "w-4 h-4 mx-1 rtl:-scale-x-100", alt: "arrow-right" %>
                <% end %>
            </div>
            
            <!-- Calculator -->
            <div class="flex flex-col items-center p-6 space-y-3 text-center bg-gray-100 rounded-xl">
                <span class="inline-block p-3 text-blue-500 bg-blue-100 rounded-full">
                    <%= heroicon 'calculator', class: "w-6 h-6", alt: "calculator" %>
                </span>
                <!-- Title -->
                <%= tag.h1 t('about.calculator.title'), class: "text-xl font-semibold text-gray-700" %>
                <!-- Desc -->
                <%= tag.p t('about.calculator.desc_html'), class: "text-gray-500" %>
                <!-- Link -->
                <%= link_to calculator_path, class: "flex items-center -mx-1 text-sm text-blue-500 transition-colors duration-300 transform hover:underline hover:text-blue-600" do %>
                    <%= tag.span t('home_page.calculate'), class: "mx-1" %>
                    <%= heroicon 'arrow-right', class: "w-4 h-4 mx-1 rtl:-scale-x-100", alt: "arrow-right" %>
                <% end %>
            </div>
        </div>
    </div>
</section>