<!-- About company -->
<%= turbo_frame_tag company, 
    class: "bg-white py-4 rounded-lg border-gray-200 shadow-md hover:shadow-xl #{'border' unless action_name == 'show'}" do %>
    <section class="mx-3 sm:mx-10 flex flex-col items-center">
        <!-- Header -->
        <%= render 'companies/shared/company_header', company: company%>
        <!-- Rating -->
        <%= render 'feedbacks/reviews/rating', object: company%>
        <!-- Body -->
        <div class="my-3 w-auto mx-auto space-x-4 flex items-center  border-y divide-x">
            <!-- Districts -->
            <div class=" py-2 flex items-center space-x-3 justify-center w-full">
                <%= heroicon 'map', class: 'w-6 h-6 flex-none'%>
                <ul class="flex flex-col text-md font-medium text-gray-500">
                    <% company.districts.decorate.each do |district|%>
                        <%= link_to users_path(district_id: district), class: 'hover:underline', data: {turbo_frame: '_top'} do  %>
                            <li><%= district != company.districts.last ? district.title + ',' : district.title%></li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
            <!-- Languages -->
            <div class=" p-2 flex items-center space-x-3 justify-center">
                <%= heroicon 'language', class: 'w-6 h-6 flex-none'%>
                <ul class="flex flex-col text-md font-medium text-gray-500">
                    <% company.languages.each do |language|%>
                        <%= link_to users_path(language_id: language), class: 'hover:underline', data: {turbo_frame: '_top'} do  %>
                            <li><%= language != company.languages.last ? language.title + ',' : language.title%></li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
        <!-- Footer -->
        <%= tag.div class: "col-span-full flex flex-col space-y-3 justify-center items-center  text-gray-500 text-sm" do %>
            <!-- Views -->
            <%= render 'shared/buttons/views', object: company, popover_target: company.title %>
            <!-- Created at -->
            <%= tag.span company.decorate.created_at, class: 'text-sm text-gray-500'%>
        <% end %>
    </section>
<% end %>