<!-- Company card -->
<%= turbo_frame_tag company, 
    class: "bg-white py-4 rounded-lg border-gray-200 shadow-md hover:shadow-xl #{'border' unless ['show', 'modal'].include?(action_name) }" do %>
    <section class="flex flex-col items-center space-y-4">
        <!-- Header -->
        <%= render 'companies/shared/company_header', company: company%>
        <!-- Body -->
        <div class="w-full sm:max-w-4xl grid grid-cols-2 gap-2 mx-auto border-y divide-x">
            <!-- Districts -->
            <div class="p-2 flex items-center space-x-2 justify-center">
                <%= heroicon 'map', class: 'w-6 h-6 flex-none'%>
                <ul class="flex flex-col font-medium text-gray-500 text-center <%= 'sm:text-lg' if ['show', 'users'].eql?([action_name, controller_name])%>">
                    <% company.districts.decorate.each do |district|%>
                        <li>
                            <%= link_to users_path(district_id: district), class: 'hover:underline', data: {turbo_frame: '_top'} do  %>
                                <%= (!company.districts.include?(District.first) && district != company.districts.last) ? district.title + ',' : district.title%>
                            <% end %>
                        </li>
                        <% break if company.districts.include?(District.first)%>
                    <% end %>
                </ul>
            </div>
            <!-- Languages -->
            <div class="p-2 flex items-center space-x-2 justify-center">
                <%= heroicon 'language', class: 'w-6 h-6 flex-none'%>
                <ul class="flex flex-col font-medium text-gray-500 <%= 'sm:text-lg' if ['show', 'users'].eql?([action_name, controller_name])%>">
                    <% company.languages.each do |language|%>
                        <li>
                            <%= link_to users_path(language_id: language), class: 'hover:underline', data: {turbo_frame: '_top'} do  %>
                                <%= language != company.languages.last ? language.title + ',' : language.title%>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
        <!-- Footer -->
        <%= tag.div class: "col-span-full flex flex-col space-y-4 pt-1 justify-center items-center text-gray-500 text-sm" do %>
            <!-- Views -->
            <%= render 'shared/buttons/views', object: company, popover_target: company.title %>
            <!-- Created at -->
            <%# tag.span company.decorate.created_at, class: 'text-sm text-gray-500'%>
        <% end %>
        <!-- Information -->
        <%= tag.div do %>
        	<div class="w-full mx-auto space-y-4">
                <!-- Services list -->
                <div class="flex justify-center items-center w-full grid grid-cols-2 sm:grid-cols-4 gap-2">
                    <% company.services.each do |service| %>
                        <%= link_to users_path(service_id: service), data: {turbo_frame: '_top'}, 
                            class: "flex items-center justify-center px-2 py-1.5 text-base font-semibold text-gray-700 bg-gray-100 border border-gray-200 rounded-lg dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500 hover:underline" do %>
                            <%= service.decorate.title %>
                            <%= heroicon 'check', class: 'w-5 h-5 text-green-500 flex-none ltr:ml-1 rtl:mr-1'%>
                        <% end %>
                    <% end %>
                </div>
        		<div class="px-1 flex flex-col items-center text-center w-full space-y-4 rounded-md lg:h-full dark:bg-gray-900 dark:text-gray-100">
                    <!-- Gallery -->
                    <%= tag.div class: "w-full sm:w-1/2 flex-shrink-0 bg-white rounded-lg border border-gray-200 shadow-md hover:shadow-xl" do %>
                        <!-- Images -->
                        <%= render 'carrierwave/images/carousel', object: company %>
                    <% end if company.images.present? %>
                    <!-- Description -->
        			<%= tag.p class: "w-full text-lg italic font-medium text-gray-700" do %>
                        <%= company.description%>
                    <% end if company.description.present?%>
                    <!-- Website -->
        			<%= tag.div class:"text-center flex items-center text-md font-medium text-gray-500 hover:text-blue-600 
                        dark:text-gray-400 space-x-2" do %>
                        <%= heroicon 'globe-alt', class: 'w-6 h-6 flex-none'%>
                        <%= link_to company.website, company.website, target: '_blank', class: %>
                    <% end if company.website.present?%>
        		</div>
        	</div>
        <% end if [action_name, controller_name].eql?(['show', 'users'])%>
    </section>
<% end %>