
<div class="sm:flex sm:items-center sm:space-x-4 space-y-4 sm:space-y-0">
    <!-- Title -->
    <%= tag.h1 class: "text-2xl font-semibold text-gray-800 flex flex-col" do %>
           <%= tag.span page_title, class: 'text-sm text-gray-500'%>
           <%= tag.span company.title, class: ' hover:underline' %>
    <% end %>
    <!-- Message -->
    <%= form_with model: Room.new, remote: true, data: {turbo_frame: user_signed_in? ? '_top' : 'modal'},
         class: 'sm:pt-5 flex items-center text-gray-700 dark:text-gray-200' do |f| %>
        <%= f.hidden_field :recipient_id, value: company.id%>
        <%= heroicon 'chat-bubble-left-right', class: 'w-6 h-6 flex-none'%>
        <p class="w-full px-2 text-md max-w-screen">
            <%= f.button t('write_message'), class: 'hover:underline', id: "message", aria: {label: "chats"}  %>
        </p>
    <% end %>
    <!-- Contacts -->
    <div class="sm:pt-5 flex items-center text-gray-700 dark:text-gray-200">
        <%= heroicon 'phone', class: 'w-6 h-6 flex-none'%>
        <p class="w-full px-2 text-md max-w-screen">
            <%= link_to user_contacts_path(company), data: {turbo_frame: 'modal'}, aria: {label: company.title + '_contacts'} do %>
                <%= tag.span t('contacts'), class: 'hover:underline'%>
            <% end %>
        </p>
    </div>
    <!-- about -->
    <%= tag.div class: "sm:pt-5 flex items-center text-gray-700 dark:text-gray-200" do %>
        <%= heroicon 'identification', class: 'w-6 h-6 flex-none'%>
        <p class="w-full px-2 text-md max-w-screen">
            <%= link_to user_path(company), data: {turbo_frame: 'modal'}, aria: {label: company.title + '_about'} do %>
                <%= tag.span t('company.about'), class: 'hover:underline'%>
            <% end %>
        </p>
    <% end unless current_page?(user_path(company))%>
</div>