<!-- Company header -->
<div class="grid grid-cols-3 gap-6 max-w-xl">
    <div class="flex justify-center space-x-3 pt-2">
        <!-- Message -->
        <%= render 'feedbacks/rooms/form', recipient: company%>
        <!-- Contacts -->
        <%= link_to user_contacts_path(company), data: {turbo_frame: 'modal'}, aria: {label: company.title + '_contacts'},
            class: "h-10 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2 text-center " do %>
            <%= heroicon 'phone', class: 'w-6 h-6'%>
        <% end %>
    </div>
    <!-- Company info -->
    <div class="flex flex-col">
        <!-- Avatar -->
        <%= image_tag(company.avatar_attachment_path, 
            class: "object-cover w-20 h-20 mx-auto mb-3 rounded-full border border-white", alt: "avatar")%>
        <!-- Name -->
        <% if ['show', 'users'].eql?([action_name, controller_name]) || action_name == 'company_trucks'%>
            <%= tag.h4 class: "w-full flex justify-center font-medium text-2xl text-center hover:underline text-gray-800 mx-auto break-words" do %>
                <%= company.title%>
            <% end %>
        <% else %>
            <%= link_to user_path(company), target: "_blank", data: { turbo_frame: '_top' }, 
                class: 'z-10 w-full flex justify-center font-medium text-2xl text-center hover:underline text-gray-800 mx-auto' do %>
                <%= tag.h4 class: "flex items-center break-words" do %>
                    <%= company.title %>
                    <%= heroicon 'cursor-arrow-rays', class: "ml-1 w-6 h-6 z-20 text-orange-700 hover:text-gray-800" %>
                <% end %>
            <% end %>
        <% end %>
    </div>
    <div class="flex justify-center pt-2 space-x-3">
        <!-- Products -->
        <%= link_to user_products_path(company), aria: {label: company.title + '_products'},
            class: "h-10 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2 text-center " do %>
            <%= heroicon 'shopping-bag', class: 'w-6 h-6'%>
        <% end %>
        <!-- Calculator -->
        <%= link_to company_calculator_path(company), aria: {label: company.title + '_calculator'},
            class: "h-10 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2 text-center " do %>
            <%= heroicon 'calculator', class: 'w-6 h-6'%>
        <% end %>
    </div>
</div>
