<%= turbo_frame_tag company_card, 
    class: "w-full max-w-lg overflow-hidden bg-white rounded-lg border border-gray-200 shadow-md hover:shadow-xl dark:bg-gray-800" do %>
    <!-- Avatar -->
    <%= link_to user_path(company_card), data: { turbo_frame: '_top'} do%>
        <%= image_tag company_card.avatar_attachment_path, class:"object-cover object-center w-full h-56", alt: company_card.title%>
    <% end %>
    <!-- Rating -->
    <div class="flex justify-center px-6 py-3 bg-gray-700">
        <div class="mx-3 text-lg font-semibold !text-white">
            <%= render 'feedbacks/shared/rating', object: company_card%>
        </div>
    </div>

    <div class="px-6 py-4">
        <!-- Title -->
        <%= link_to user_path(company_card), target: "_blank", data: { turbo_frame: '_top' },  
            class: "text-xl font-semibold text-gray-800 flex items-center hover:underline" do %>
               <%= company_card.title %>
               <%= heroicon 'cursor-arrow-rays', class: "ml-1 w-6 h-6 z-20 text-orange-700 hover:text-gray-800 flex-none" %> 
        <% end %>
        <!-- Description -->
        <%= tag.div data: { controller: "read-more", 'read-more-more-text-value' => t('global.read_more'), 'read-more-less-text-value' => t('global.read_less')} do %>
          <p class="my-content my-2 text-gray-700 dark:text-gray-400" data-read-more-target="content">
            <%= company_card.description.to_plain_text %>
          </p>
          <button data-action="read-more#toggle" class="text-blue-800"><%= t('global.read_more')%></button>
        <% end if company_card.description.present? %>
        <!-- District -->
        <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
            <%= heroicon 'map', class: 'w-6 h-6 flex-none'%>
            <p class="w-full px-2 text-md">
                <% company_card.districts.decorate.each do |district|%>
                        <%= link_to users_path(district_id: district), class: 'w-full hover:underline', data: {turbo_frame: '_top'} do  %>
                            <%= (!company_card.districts.include?(District.first) && district != company_card.districts.last) ? district.title + ',' : district.title%>
                        <% end %>
                    <% break if company_card.districts.include?(District.first)%>
                <% end %>
            </p>
        </div>
        <!-- Language -->
        <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
            <%= heroicon 'language', class: 'w-6 h-6 flex-none'%>
            <p class="w-full px-2 text-md">
                <% company_card.languages.each do |language|%>
                        <%= link_to users_path(language_id: language), class: 'w-full hover:underline', data: {turbo_frame: '_top'} do  %>
                            <%= (!company_card.languages.include?(District.first) && language != company_card.languages.last) ? language.title + ',' : language.title%>
                        <% end %>
                    <% break if company_card.languages.include?(District.first)%>
                <% end %>
            </p>
        </div>
        <!-- Views -->
        <div class="flex justify-center text-sm mt-4 text-gray-700 dark:text-gray-200">
            <%= render 'shared/buttons/views', object: company_card, popover_target: company_card.title %>
        </div>
    </div>
<% end %>