<!-- Calculator modal -->
<div class=" w-full h-auto pb-3 px-3 col-span-full">
    <%= link_to company_calculator_path(company), data: {turbo_frame: '_top'},
    class: "flex items-center justify-center w-full px-2 py-2 h-full text-base font-medium text-gray-300 bg-gray-800 rounded-lg border border-gray-800 hover:bg-gray-900 focus:ring-1 focus:outline-none focus:ring-gray-300" do %>
        <%= t('home_page.calculate') + ' ' + company.title%>
    <% end %>
</div>
<!-- Market link -->
<%= tag.div class: "w-full h-auto pb-3 px-3 col-span-full" do %>
    <%= link_to user_products_path(company), data: {turbo_frame: '_top'}, class: "flex items-center justify-center w-full px-2 py-2 h-full text-base font-medium text-gray-300 bg-gray-800 rounded-lg border border-gray-800 hover:bg-gray-900 focus:ring-1 focus:outline-none focus:ring-gray-300" do %>
        <%= t('product.user_products', user_name: company.user_name)%>
        <%= heroicon I18n.locale == :he ? 'arrow-small-left' : 'arrow-small-right', class: "w-5 h-5 rtl:mr-2 ltr:ml-2"%>
    <% end %>
<% end if company.products.count.positive?%>
<!-- Comments -->
<div class=" w-full h-auto pb-3 px-3 col-span-full">
    <%= link_to user_path(company, anchor: 'comments_title'), 
        data: {turbo_frame: '_top', controller: current_page?(user_path(company)) ? 'scroll-to' : nil},
    class: "flex items-center justify-center w-full px-2 py-2 h-full text-base font-medium text-gray-300 bg-gray-800 rounded-lg border border-gray-800 hover:bg-gray-900 focus:ring-1 focus:outline-none focus:ring-gray-300" do %>
        <%= t('comment.comments')%>
    <% end %>
</div>
