<!-- Calculator modal -->
<div class=" w-full h-auto pb-3 px-3 col-span-full">
    <%= link_to modal_calculator_path(company), data: {turbo_frame: 'modal'},
    class: "flex capitalize items-center justify-center w-full px-2 py-2 h-full text-base font-medium text-gray-300 bg-gray-800 rounded-lg border border-gray-800 hover:bg-gray-900 focus:ring-1 focus:outline-none focus:ring-gray-300" do %>
        <%= t('home_page.calculate') + ' ' + company.title%>
    <% end %>
</div>
<!-- Market link -->
<%= tag.div class: "w-full h-auto pb-3 px-3 col-span-full" do %>
    <%= link_to user_products_path(company), target: '_blank', class: "flex capitalize items-center justify-center w-full px-2 py-2 h-full text-base font-medium text-gray-300 bg-gray-800 rounded-lg border border-gray-800 hover:bg-gray-900 focus:ring-1 focus:outline-none focus:ring-gray-300" do %>
        <%= heroicon 'arrow-small-left', class: "mr-1 w-5 h-5" if I18n.locale == :he%>
        <%= t('product.user_products', user_name: company.user_name)%>
        <%= heroicon 'arrow-small-right', class: "ml-2 -mr-1 w-5 h-5" unless I18n.locale == :he%>
    <% end %>
<% end if company.products.count.positive?%>
<!-- Comments -->
<div class=" w-full h-auto pb-3 px-3 col-span-full">
    <%= link_to user_path(company, anchor: 'comments_title'), 
        data: {turbo_frame: '_top', controller: current_page?(user_path(company)) ? 'scroll-to' : nil},
    class: "flex capitalize items-center justify-center w-full px-2 py-2 h-full text-base font-medium text-gray-300 bg-gray-800 rounded-lg border border-gray-800 hover:bg-gray-900 focus:ring-1 focus:outline-none focus:ring-gray-300" do %>
        <%= t('comment.comments')%>
    <% end %>
</div>
