<!-- Comment card -->
<%= turbo_stream_from comment %>

<%= turbo_frame_tag dom_id(comment) do %>
    <div class="flex mb-3">
      <!-- Author avatar -->
      <div class="flex-shrink-0 mr-3">
        <%= comment.avatar %>
      </div>
      <div class="flex-1 border bg-white shadow-md hover:shadow-lg rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
        <!-- Author name -->
        <%= comment.author %>
        <!-- Created at -->
        <%= comment.created_at %>
        <!-- Comment content -->
        <%= turbo_frame_tag dom_id(comment, :edit) do %>
            <div class="mt-2">
                <!-- Attachments -->
                <% if comment.images.present? %>
                    <div class="flex items-center my-2 overflow-x-auto">
                        <% comment.images.each do |img| %>
                            <%= image_tag(img.medium.url, class: 'pr-1 h-36 w-auto object-cover rounded-md')%>
                        <% end %>
                    </div>
                <% end %>
                <!-- Comment content -->
                <%= comment.content%>
                <!-- Updated time -->
                <%= comment.updated_at%>
            </div>
            <!-- Comment buttons -->
            <%= render 'feedbacks/comments/buttons', comment: comment %>
        <% end %>
        <!-- Comment replies count -->
        <%= tag.p "Replies: #{comment.comments.count}", class: "my-3 uppercase tracking-wide text-gray-400 font-bold text-xs" if comment.comments.any?%>
        <!-- Comment replies content -->
        <%= turbo_frame_tag dom_id(comment, :replies), class: "space-y-4" do %>
            <%= render partial: 'feedbacks/comments/comment', collection: comment.comments.latest.decorate %>
        <% end %>
        <!-- Comment reply form -->
        <%= turbo_frame_tag dom_id(comment, :new_comment) %>
      </div>
    </div>
<% end%>