<!-- Form for new User -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: 'false'}) do |form| %>
  <%= render "shared/error_messages", resource: resource %>
  
  <!-- Locale -->
  <%= form.hidden_field :locale, value: I18n.locale %>

<div class="grid grid-cols-1 gap-6 md:grid-cols-2 justify-center flex">
  <!-- Credential info -->
  <%= render 'users/form/credential_info_fields', form: form %>
  <!-- Personal info -->
  <%= render 'users/form/personal_info_fields',   form: form %>
</div>

    <!-- Avatar -->
    <%= render 'carrierwave/avatar_field',    form: form, imageable: nil %>
    <!-- Contacts section -->
    <%= render 'users/form/contacts_section_fields', form: form %>
    
    <!-- Submit button -->
    <div class="text-center lg:text-center mt-6">
        <%= form.submit t('sign_up.btn'), class: "cursor-pointer w-full text-white bg-gradient-to-r from-gray-700 via-gray-800 to-gray-900 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-xl px-5 py-2.5 text-center" %>
    </div>
<% end %>