<div class="bg-white rounded py-3 px-4 shadow-md hidden lg:block min-h-screen h-full -mb-20 pb-14">
    <div class="flex flex-col items-center mt-6 -mx-2">
        <!-- Avatar -->
        <%= image_tag(current_client.avatar_attachment_path, class: "object-cover w-24 h-24 mx-2 mb-3 rounded-full", alt: "avatar")%>
        <!-- Name -->
        <%= tag.h4 current_client.user_name, class: "break-all mx-2 font-medium text-xl text-gray-800 text-center hover:underline" %>
        <!-- Email -->
        <%= tag.p current_client.email, class: "break-all mx-2 mt-1 text-base font-medium text-gray-600 text-center hover:underline"%>
    </div>
    
    <ul class="space-y-1 text-sm my-3">
        <hr>
        <!-- Chats -->
        <li>
        <%= link_to rooms_path, 
            class: "flex items-center text-base space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-100 focus:bg-gray-200 focus:shadow-outline", 
            data: {action: "dropdown#toggle"}, 
            role: "menuitem",
            tabindex:"-1",
            id:"profilePageLink" do
        %>
            <%= heroicon "chat-bubble-left-right", class: "w-4 h-4 mr-2" %>
            <%= t('user_menu.chats')%>
        <% end %>
        </li>
        
        <!-- Dashboard page -->
        <!-- <li>
        <%= link_to clients_dashboard_path,
            class: "flex items-center text-base space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-100 focus:bg-gray-200 focus:shadow-outline",
            data: {action: "dropdown#toggle"},
            role: "menuitem",
            tabindex:"-1",
            id:"profilePageLink" do
        %>
            <%= heroicon "rectangle-group", class: "w-4 h-4 mr-2" %>
            <%= t('user_menu.dashboard')%>
        <% end %>
        </li> -->
        
        <hr>
        <!-- New product -->
        <li>
        <%= link_to new_users_product_path, 
            class: "flex items-center text-base space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-100 focus:bg-gray-200 focus:shadow-outline", 
            data: {action: "dropdown#toggle"}, 
            role: "menuitem",
            tabindex:"-1",
            id:"profilePageLink" do
        %>
            <%= heroicon "plus-circle", class: "w-4 h-4 mr-2" %>
            <%= t('product.add_btn')%>
        <% end %>
        </li>
        
        <!-- All products -->
        <li>
        <%= link_to users_products_path, 
            class: "flex items-center text-base space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-100 focus:bg-gray-200 focus:shadow-outline", 
            data: { action: "dropdown#toggle" }, 
            role: "menuitem",
            tabindex:"-1",
            id:"profilePageLink" do
        %>
            <%= image_tag(asset_path('icons/icons8-lounge-50.png'), class: "w-4 h-4 mr-2")%>
            <%= t('product.my_products')%>
        <% end %>
        </li>
        
        <hr>
        
        <!-- Profile Info -->
        <li>
        <%= link_to edit_clients_profile_path, 
            class: "flex items-center text-base space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-100 focus:bg-gray-200 focus:shadow-outline", 
            data: {action: "dropdown#toggle"}, 
            role: "menuitem",
            tabindex:"-1",
            id:"personalInfoLink" do
        %>
            <%= heroicon "identification", class: "w-4 h-4 mr-2" %>
            <%= t('user_menu.profile')%>
        <% end %>
        </li>

        <!-- Credential Info -->
        <li>
        <%= link_to edit_client_registration_path, 
            class: "flex items-center text-base space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-100 focus:bg-gray-200 focus:shadow-outline", 
            data: { action: "dropdown#toggle" }, 
            role: "menuitem",
            tabindex:"-1",
            id:"password&SecurityLink" do 
        %>
            <%= heroicon "lock-closed", class: "w-4 h-4 mr-2" %>
            <%= t('user_menu.credential')%>
        <% end %>
        </li>

        <hr>
        <!-- Sign Out -->
        <li>
        <%= link_to destroy_client_session_path, 
            class: "flex items-center text-base space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-100 focus:bg-gray-200 focus:shadow-outline",
            data: {action: "dropdown#toggle", turbo_method: :delete, turbo_confirm: t('global.are_you_sure')}, 
            role: "menuitem", 
            tabindex:"-1", 
            id:"signOutLink" do 
        %>
           <%= heroicon "arrow-right-on-rectangle", class: "w-4 h-4 mr-2" %>
           <%= t('user_menu.sign_out')%>
        <% end %>
        </li>
    </ul>
</div>

