<hr class="mt-2">
<div class="flex items-center p-2 justify-center">
    <!-- Avatar -->
    <%= image_tag(truck.company.avatar_attachment_path,
        class: "object-cover h-7 w-7 rounded-full border border-gray-500 m-1", alt: "avatar")%>

    <!-- Company_name and link_to company-->
    <% if ['show', 'trucks'].eql?([action_name, controller_name]) %>
        <%= link_to company_path(id: truck.company), data: { turbo: false }, class: 'flex items-center hover:underline' do %>
            <%= tag.h5 truck.company.title, class: "text-2xl text-gray-700" %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-1 w-6 h-6 text-orange-700 hover:text-gray-700">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
            </svg>  
        <% end %>
    <% else %>
        <%= link_to contents_company_modal_path(id: truck.company), data: { turbo_frame: 'modal' }, class: 'flex items-center hover:underline' do %>
            <%= tag.h5 truck.company.title, class: "text-2xl text-gray-700" %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-1 w-6 h-6 text-orange-700 hover:text-gray-700">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
            </svg>  
        <% end %>
    <% end %>    
</div>