<!-- Latest Trucks section -->
<div class="items-center flex container mx-auto w-full justify-center relative" id="latest_trucks_title">
    <!-- Title -->
    <% unless action_name == 'company_trucks'%>
        <%= tag.h3 t('home_page.latest_trucks'), class: 'text-3xl font-semibold text-gray-800  my-6 text-center'%>
    <% else %>
        <%= tag.h3 t('home_page.latest_trucks') + ' ' + @company.title, class: 'text-3xl font-semibold text-gray-800  my-6 text-center'%>
    <% end%>
    <!-- View all -->
    <%= link_to trucks_path, class: "absolute w-[7rem] sm:w-full right-0 flex py-0 mr-2 text-base font-medium justify-end items-center text-end text-gray-500 hover:text-gray-700 hover:underline", data: {turbo_frame: '_top'} do %>
        <%= heroicon 'arrow-small-left', class: "mr-1 w-5 h-5" if I18n.locale == :he%>
        <%= t('global.view_all')%>
        <%= heroicon 'arrow-small-right', class: "ml-2 -mr-1 w-5 h-5" unless I18n.locale == :he%>
    <% end if ['index', 'main'].eql?([action_name, controller_name])%>
</div>

<% if @trucks.present?%>
    <%= turbo_frame_tag 'latest_trucks', class: "container sm:mx-auto grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 justify-center mb-6" do %>
        <!-- Trucks -->
        <%= render partial: 'contents/trucks/truck', collection: @trucks%>
    <% end %>
    <!-- Pagy -->
    <%== pagy_nav(@pagy_a) if Truck.count > 11%>
<% else %>
    <%= render 'contents/shared/unavailable', model: t('home_page.latest_trucks').split(' ').last%>
<% end %>