<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- Email input -->
  <div class="mb-6">
     <%= f.label :email, 'Email', class: "text-lg text-gray-100" %>
     <%= f.text_field :email, autofocus: true, 
      class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
      id: "email-input",
      placeholder: t('reset_password.email_place'),
      required: true 
     %>
  </div>

  <!-- Submit button -->
  <div class="text-center lg:text-center">
      <%= f.submit t('reset_password.send_btn'), class: "w-full text-white bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-xl px-5 py-2.5 text-center mr-2 mb-2" %>
      <p class="text-sm text-gray-300 font-semibold mt-2 pt-1 mb-0">
        <%= t('sign_in.account')%>
        <%= link_to t('sign_in.register'), new_client_registration_path, class:"text-red-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out", data: {turbo_frame: '_top'}%>
      </p>
  </div>
<% end %>