<!-- Company sign in form -->
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <!-- Flash messages -->
      <%= render 'shared/errors', object: resource%>
      <!-- Email input -->
      <div class="mb-6">
         <%= f.label :login, User.human_attribute_name('login'), class: "text-lg text-gray-100" %>
         <%= f.text_field :login, autofocus: true, 
          class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
          id: "email-input",
          placeholder: "#{t('sign_in.login_place')}",
          required: true 
         %>
      </div>

      <!-- Password input -->
      <div class="mb-6">
         <%= f.label :password, User.human_attribute_name('password'), class: "text-lg text-gray-100" %>
         <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
         <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",
          class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
          id: "password-input",
          placeholder: "#{t('sign_in.password_place')}",
          required: true
         %>
      </div>

      <!-- Remember me and forgot password -->
      <div class="flex justify-between items-center mb-6">
          <div class="form-group form-check">
            <%= f.check_box :remember_me, class: "form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"%>
            <%= f.label :remember_me, t('sign_in.remember_me'), class: "form-check-label inline-block text-gray-300" %>
          </div>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to t('sign_in.forgot'), new_password_path(resource_name), class: "text-gray-300" %>
          <% end %>
      </div>

      <!-- Submit button -->
      <div class="text-center lg:text-center">
          <%= f.submit t('sign_in.btn'), class: "w-full text-white bg-gradient-to-r from-blue-700 via-blue-800 to-blue-900 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-xl px-5 py-2.5 text-center mr-2 mb-2" %>
          <p class="text-sm text-gray-300 font-semibold mt-2 pt-1 mb-0">
            <%= t('sign_in.account')%>
            <%= link_to t('pages.become'), new_company_registration_path, class:"text-red-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out", data: {turbo_frame: '_top'}%>
          </p>
      </div>
<% end %>