<!-- Carriers product form -->
<%= turbo_frame_tag dom_id(@product, 'form') do %>
    <!-- Carousel -->
    <%= tag.div (render 'carrierwave/images/carousel', object: @product), 
        class: "col-span-full md:px-[14rem] w-full justify-center mb-4" if ['edit', 'update'].include?(action_name) %>

    <!-- Product form -->
    <%= form_with model: [:users, @product], class: "contents" do |f| %>
      <!-- Errors -->
      <%= render 'shared/error_messages', resource: @product %>
      <div class="grid grid-cols-1 gap-6 mt-4 md:grid-cols-2">
          <!-- Category type -->
          <div class="flex items-center text-gray-600 justify-center">
              <%= f.label :category, class: "text-lg mr-2" %>
              <%= f.collection_select(:category_id, @categories, :id, :title, { prompt: true,  selected: params[:category_id] || @product&.category&.id}, 
                {class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none", required: false})%>
          </div>
          <!-- Type -->
          <div class="flex items-center text-gray-600 justify-center">
              <%= f.label :thing, class: "text-lg mr-2" %>
              <%= f.grouped_collection_select(:thing_id, @categories, :things, :title, :id, I18n.locale, 
              { prompt: true, selected: params[:thing_id] || @product.thing_id}, 
              { class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"})%>
          </div>
          <!-- District -->
          <div class="flex items-center text-gray-600 justify-center">
              <%= f.label Product.human_attribute_name('district'), class: "text-lg mr-2" %>
              <%= f.select(:district_id, options_from_collection_for_select(@districts, 'id', 'title', @product.district_id), {include_blank: t('global.select')}, {class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none", required: false})%>
          </div>
          <!-- Type -->
          <div class="flex items-center text-gray-600 justify-center">
              <%= f.label :city, class: "text-lg mr-2" %>
              <%= f.grouped_collection_select(:city_id, @districts, :cities, :title, :id, I18n.locale, 
              { prompt: true, selected: params[:city_id] || @product.city_id}, 
              { class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"})%>
          </div>
          <!-- Condition -->
          <div class="flex items-center text-gray-600 justify-center">
              <%= f.label :condition, class: "text-lg mr-2" %>
              <%= f.select(:condition, options_for_select(Product.condition_select, @product.condition), {include_blank: t('global.select')}, {class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none", required: false})%>
          </div>
          <!-- Delivery -->
          <div class="flex items-center text-gray-600 justify-center">
              <%= f.label :delivery, class: "text-lg mr-2" %>
              <%= f.select(:delivery, options_for_select(Product.delivery_select, @product.delivery), {include_blank: t('global.select')}, {class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none", required: false})%>
          </div>
          <!-- Title -->
          <div class="flex items-center text-gray-600 justify-center col-span-full">
              <%= f.label :title, class: "text-lg mr-2" %>
              <%= f.text_field :title, class: "w-full mr-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring", placeholder: Product.human_attribute_name('title'), required: false%>
          </div>
          <!-- Description -->
          <div class="flex items-center text-gray-600 justify-center col-span-full">
              <%= f.label :description, class: "text-lg mr-2" %>
              <%= f.text_area :description, class: "w-full p-2 mr-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring", placeholder: Product.human_attribute_name('description'), required: false%>
          </div>
          <!-- Price -->
          <div class="flex items-center text-gray-600 justify-center">
              <%= render 'shared/buttons/popover', text: t('product.delivery.price_popover'), icon: 'icons/icons8-info-50.png' %>
              <%= f.label :price, class: "text-lg mr-2 ml-1" %>
              <%= f.number_field :price, class: "w-full mr-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring", placeholder: Product.human_attribute_name('price'), required: false%> ₪
          </div>
      </div>
     <!-- Images -->
     <% @product.images.each do |image| %>
       <%= f.hidden_field :images, multiple: true, value: image.identifier, id: image.identifier %>
     <% end %>
      <div class="flex mt-6 grid grid-rows-1 text-center items-center justify-center">
        <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
          <div class="space-y-1 text-center">
            <%= f.label :images, class: "cursor-pointer" do %>
                <svg class="mx-auto h-12 w-12 text-gray-700" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                  <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <div class="text-gray-700 mt-1 mb-2 justify-center text-center text-base" data-controller="image" id="Img">
                    <span class="relative rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500"><%= @product.images.present? ? 'Change images' : 'Upload images'%></span>
                        <%= f.file_field :images, multiple: true, 
                            class: "sr-only", 
                            accept: "image/png, image/jpeg, image/jpg", "data-image-target": "input", "data-action": "image#preview",
                            required: false 
                        %>
                </div>
                <p class="text-xs text-gray-700">
                  PNG, JPG, GIF up to 10MB
                </p>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Button Save -->
      <div class="flex justify-start mt-6">
          <%= f.submit t('global.save_btn'), class: "cursor-pointer px-6 py-2 leading-5 text-white transition-colors duration-200 transform  rounded-md  focus:outline-none bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4"%>
      </div>
    <% end %>
<% end %>