<!-- Gradient: bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 -->

<div class="flex items-center">
    <!-- Became Carrier -->
    <%= link_to t('company.sign_up'), new_company_registration_path, class: "hidden xl:block mr-4 whitespace-nowrap text-base font-medium  hover:text-gray-900 #{current_page?(new_company_registration_path) ? 'text-gray-900' : 'text-gray-500'}"%>
    <!-- Guest menu dropdown -->
    <div 
      class="relative z-50"
      data-controller="dropdown"
    >
    <div>
      <button 
        data-action="dropdown#toggle click@window->dropdown#hide"
        class="flex text-sm rounded-full border-2 border-gray-300 focus:outline-none drop-shadow-2xl hover:drop-shadow-lg items-center" 
        id="client-menu-button" 
        type="button" 
        aria-expanded="false" 
        aria-haspopup="true"
      >
        <%= heroicon "bars-3", class: "mx-2 hidden sm:block", size: 20%>
        <%= heroicon "user-circle", class: "w-8 h-8 text-gray-600 rounded-full border m-1" %>
      </button>
    </div>

    <!--
      Dropdown menu, show/hide based on menu state.

      Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95"
    -->
    <div 
        data-dropdown-target="menu"
        class="hidden origin-top-right absolute z-50 right-0 mt-2 min-w-max rounded-lg shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" 
        role="menu" 
        aria-orientation="vertical" 
        aria-labelledby="client-menu-button" 
        tabindex="-1"
        data-transition-enter-from="opacity-0 scale-95"
        data-transition-enter-to="opacity-100 scale-100"
        data-transition-leave-from="opacity-100 scale-100"
        data-transition-leave-to="opacity-0 scale-95"
    >
        <!-- Sign In -->
        <%= link_to t('user_menu.sign_in'), new_client_session_path, 
            class: "font-medium block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", 
            data: {action: "dropdown#toggle", turbo_frame: 'modal'}, 
            role: "menuitem",
            tabindex:"-1",
            id: "signInLink"
        %>
    
        <!-- Sign Up -->
        <%= link_to t('user_menu.sign_up'), new_client_registration_path, 
            class: "font-medium block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", 
            data: {action: "dropdown#toggle"}, 
            role: "menuitem",
            tabindex:"-1",
            id: "signUpLink"
        %>
    
        <hr>
        <!-- Sign In As Company-->
        <%= link_to new_company_session_path, 
            class: "font-medium flex block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 items-center", 
            data: {action: "dropdown#toggle", turbo_frame: 'modal'}, 
            role: "menuitem",
            tabindex:"-1",
            id: "signInLink" do
        %>
            <%= image_tag(asset_path('icons/icons8-in-transit-50.png'), class: "w-4 h-4 mr-2")%>
            <%= t('user_menu.sign_in')%>
        <% end %>
    
        <!-- Become a Carrier -->
        <%= link_to new_company_registration_path, 
            class: "font-medium flex block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 items-center", 
            data: {action: "dropdown#toggle"}, 
            role: "menuitem",
            tabindex:"-1",
            id:"become-a-Carrier-link" do
        %>
            <%= image_tag(asset_path('icons/icons8-in-transit-50.png'), class: "w-4 h-4 mr-2")%>
            <%= t('company.sign_up')%>
        <% end %>
    
    </div>
</div>
 