<!-- Message Notifications -->
<%= render 'feedbacks/messages/notifications/notifications_section'%>
<!-- Notifications -->
<%= render 'feedbacks/notifications/notifications_section'%>

<div class="flex items-center">
    <!-- Admin menu dropdown -->
    <div 
      class="relative z-50"
      data-controller="dropdown"
    >
    <div>
      <button 
        data-action="dropdown#toggle click@window->dropdown#hide"
        class="flex text-sm rounded-full border-2 border-gray-300 focus:outline-none drop-shadow-2xl hover:drop-shadow-lg items-center" 
        id="admin-menu-button" 
        type="button" 
        aria-expanded="false" 
        aria-haspopup="true"
      >
        <span class="sr-only">Open admin menu</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mx-2 hidden sm:block">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        <!-- Avatar -->
        <%= image_tag(current_user.avatar_attachment_path, class: "object-cover h-8 w-8 rounded-full border border-gray-500 m-1", alt: "avatar")%>
      </button>
    </div>

    <!--
      Dropdown menu, show/hide based on menu state.

      Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95"
    -->
    <div 
        data-dropdown-target="menu"
        class="hidden origin-top-right absolute z-50 right-0 mt-2 min-w-[14rem] w-auto rounded-lg shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" 
        role="menu" 
        aria-orientation="vertical" 
        aria-labelledby="admin-menu-button" 
        tabindex="-1"
        data-transition-enter-from="opacity-0 scale-95"
        data-transition-enter-to="opacity-100 scale-100"
        data-transition-leave-from="opacity-100 scale-100"
        data-transition-leave-to="opacity-0 scale-95"
    >
        <!-- Links list -->
        <%= render 'clients/shared/client_menu' if client_signed_in?%>
        <%= render 'companies/shared/company_menu' if company_signed_in?%>
        <%= render 'admins/shared/admin_menu' if admin_signed_in?%> 
    </div>
</div>