<% currently_at t('user_menu.chats') %>
<% provide :page_title, t('user_menu.chats') %>
<% provide :nav_title, t('user_menu.chats') %>
<% provide :nav_path, rooms_path %>

<%= turbo_stream_from [current_user, :rooms]%>

<div class="-mt-12 -mx-4 rounded-lg">
    <!-- Chatting -->
    <div class="flex flex-col bg-gray-50 w-full h-[40rem] md:border-r-2 overflow-y-auto">
        <!-- Search chat -->
        <%= form_with url: :rooms, method: :get, data: {turbo_frame: '_top'}, class: "border-b-2 py-4 px-2" do |f|%>
            <%= f.text_field :chatname, class: "py-2 px-2 border-2 border-gray-200 rounded-2xl w-full", placeholder: t('chat.search')%>
        <% end %>
        <!-- Rooms list -->
        <%= turbo_frame_tag :rooms do %>
            <%= render @rooms, current_user: current_user%>
        <% end %>
    </div>
</div>
