<div class="px-4 py-10 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl" id="top_features">
	<%=tag.p t('home_page.top_features.title'), class: "mb-8 text-3xl font-bold leading-none text-center"%>
	<ul class="grid gap-3 md:grid-cols-2 lg:grid-cols-3">
        <!-- Combining -->
		<li class="flex items-center space-x-2 rtl:space-x-reverse">
            <%= heroicon 'check-circle', class: "w-6 h-6 flex-none" %>
            <%= tag.p t('home_page.top_features.combining')%>
		</li>
        <!-- Reviews -->
		<li class="flex items-center space-x-2 rtl:space-x-reverse">
			<%= heroicon 'check-circle', class: "w-6 h-6 flex-none" %>
			<%= tag.p t('home_page.top_features.reviews')%>
		</li>
        <!-- Calculator -->
		<li class="flex items-center space-x-2 rtl:space-x-reverse">
			<%= heroicon 'check-circle', class: "w-6 h-6 flex-none" %>
			<%= tag.p t('home_page.top_features.calculator')%>
		</li>
        <!-- Market -->
		<li class="flex items-center space-x-2 rtl:space-x-reverse">
			<%= heroicon 'check-circle', class: "w-6 h-6 flex-none" %>
			<%= tag.p t('home_page.top_features.market')%>
		</li>
        <!-- Easy use -->
		<li class="flex items-center space-x-2 rtl:space-x-reverse">
			<%= heroicon 'check-circle', class: "w-6 h-6 flex-none" %>
			<%= tag.p t('home_page.top_features.use')%>
		</li>
        <!-- Improvement -->
		<li class="flex items-center space-x-2 rtl:space-x-reverse">
			<%= heroicon 'check-circle', class: "w-6 h-6 flex-none" %>
			<%= tag.p t('home_page.top_features.improvement')%>
		</li>
	</ul>
</div>