<%= tag.h1 @h1, class: "text-lg" %>

<%= tag.p simple_format(@title) if @title.present?%>
<%= tag.p simple_format(@title_content) if @title_content.present?%>
<%= tag.p simple_format(@main_content) if @main_content.present?%>

<div class="flex justify-start">
    <%= link_to "Посмотреть", feedbacks_url, class: "link-button"%>
</div>

