<div 
    class="relative h-auto sm:h-full min-h-screen w-full bg-cover -mt-20 bg-center bg-cover bg-gray-800 bg-scroll" 
    style="background-image: url(<%= asset_path('bg/hero-bg.png')%>)"
>
    <div class="h-full lg:flex items-center lg:px-6">
        <div class="lg:w-2/3 pt-24 lg:pt-0">
            <!-- Content -->
            <div class="text-center lg:-mt-20">
                <%= tag.h1 t('home_page.h1'), class: "mb-4 px-2 text-3xl sm:text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl"%>
                <!-- Mobile version description -->
                <%= tag.div class: "flex justify-center w-full flex-col sm:hidden", 
                    data: { controller: "read-more", 'read-more-more-text-value' => t('global.read_more'), 'read-more-less-text-value' => t('global.read_less')} do %>
                    <p class="my-content px-2 text-md font-normal text-gray-300 rounded-lg" 
                        data-read-more-target="content"
                    >
                        <%= t('home_page.h2_html')%>
                    </p>
                    <button data-action="read-more#toggle" class="text-blue-700"><%= t('global.read_more')%></button>
                <% end %>
                <!-- Desctop version description -->
                <div class="flex justify-center w-full sm:px-6 hidden sm:block">
                    <p class="px-2 text-md font-normal text-gray-300 lg:text-lg rounded-lg" >
                        <%= t('home_page.h2_html')%>
                    </p>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2">
            <%= image_tag asset_path('bg/bg-truck-500.webp'), alt: 'truck-image',
                class: "w-auto h-72 max-w-lg sm:hidden"%>
            <%= image_tag asset_path('bg/bg-truck-1000.webp'), alt: 'truck-image',
                class: "w-auto h-[22rem] lg:w-full lg:h-full max-w-lg hidden sm:block"%>
        </div>
    </div>
    <!-- Filter -->
    <%= render 'shared/navigations/companies_filter', path: users_path, frame: '_top', company: nil%>
</div>