<!-- Latest Trucks section -->
<%= render 'contents/trucks/latest_trucks_title'%>
<%= turbo_frame_tag 'trucks', class: "flex overflow-x-scroll space-x-8 max-w-screen container mx-auto pb-8" do %>
    <% @trucks.each do |truck| %>
        <%= turbo_frame_tag truck, 
            class: "w-[25rem] sm:w-[18rem] flex-shrink-0 bg-white rounded-lg border border-gray-200 shadow-md hover:shadow-xl" do %>
            <!-- Truck carousel images -->
            <%= render 'carrierwave/images/carousel', object: truck %>
            <!-- Truck Info -->
            <%= link_to truck_path(truck), data: { turbo_frame: '_top' }, class: "" do %>
                <!-- Rating -->
                <%= render 'feedbacks/reviews/review', truck: truck%> 
                <!-- Truck card body -->
                <%= render 'contents/trucks/card_body', truck: truck%>
            <% end %>
            <!-- Truck card footer -->
            <%= render 'contents/trucks/card_footer', truck: truck%>
            <!-- Control Buttons -->
            <% if company_signed_in? && current_company.trucks.all.include?(truck) %>
                <%= render 'shared/buttons/control_buttons', model: truck, 
                    edit_path: [:edit, :companies, truck], publish_path: [:companies, truck, :publish], del_path: [:companies, truck]%>
            <% end %>
        <% end %>
    <% end %>
    <!-- View all -->
    <div class="flex-shrink-0 justify-center items-center text-center h-auto w-[300px] m-auto">
        <%= link_to trucks_path, class: "flex text-base font-medium justify-center items-center text-center text-gray-500 hover:text-gray-700 hover:underline", data: {turbo_frame: '_top'} do %>
            <%= heroicon 'arrow-small-left', class: "mr-1 w-5 h-5" if I18n.locale == :he%>
            <%= t('global.view_all')%>
            <%= heroicon 'arrow-small-right', class: "ml-2 -mr-1 w-5 h-5" unless I18n.locale == :he%>
        <% end %>
    </div>
<% end %>