<!-- Market section-->
<div class="items-center flex container mx-auto w-full justify-center relative">
    <!-- Title -->
    <%= tag.h3 t('pages.market'), class: 'text-3xl font-semibold text-gray-800  my-6 text-center'%>
    <!-- View all -->
    <%= link_to products_path, class: "absolute w-[7rem] sm:w-full right-0 flex py-0 mr-2 text-base font-medium justify-end items-center text-end text-gray-500 hover:text-gray-700 hover:underline", data: {turbo_frame: '_top'} do %>
        <%= heroicon 'arrow-small-left', class: "mr-1 w-5 h-5", alt: "arrow-small-left" if I18n.locale == :he%>
        <%= t('global.view_all')%>
        <%= heroicon 'arrow-small-right', class: "ml-2 -mr-1 w-5 h-5", alt: "arrow-small-right" unless I18n.locale == :he%>
    <% end %>
</div>
<% if @products.present?%>
    <%= turbo_frame_tag 'products', class: "flex overflow-x-scroll space-x-8 max-w-screen container mx-auto pb-8" do %>
        <!-- Products -->
        <%= render partial: 'contents/products/product', collection: @products %>
        <!-- View all -->
        <div class="flex-shrink-0 justify-center items-center text-center h-auto w-[300px] m-auto">
            <%= link_to products_path, class: "flex text-base font-medium justify-center items-center text-center text-gray-500 hover:text-gray-700 hover:underline", data: {turbo_frame: '_top'} do %>
                <%= heroicon 'arrow-small-left', class: "mr-1 w-5 h-5", alt: "arrow-small-left" if I18n.locale == :he%>
                <%= t('global.view_all')%>
                <%= heroicon 'arrow-small-right', class: "ml-2 -mr-1 w-5 h-5", alt: "arrow-small-right" unless I18n.locale == :he%>
            <% end %>
        </div>
    <% end %>
<% else %>
    <%= render 'contents/shared/unavailable', model: t('market.products')%>
<% end %>