<!-- Contact Information -->
<hr>
<h6 class="text-gray-500 text-xl my-6 font-bold uppercase">
  <%= t('contacts')%>
</h6>

<div class="grid grid-cols-1 gap-6 md:grid-cols-2 mb-6">
    <!-- Additional Phone input -->
    <div class="">
       <%= form.label :additional_phone, class: "text-lg" %>
       <%= form.text_field :additional_phone, 
        class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
        placeholder: User.human_attribute_name('additional_phone'), value: current_user&.formatted_additional_phone,
        required: false
       %>
    </div>

    <!-- WhatsApp input -->
    <div class="">
       <%= form.label :whatsapp, 'WhatsApp', class: "text-lg" %>
       <%= form.text_field :whatsapp, 
        class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
        placeholder: '+(___) __-___ ____', value: current_user&.formatted_whatsapp,
        required: false
       %>
    </div>

    <!-- Telegram input -->
    <div class="">
       <div class="flex items-center space-x-2 rtl:space-x-reverse">
           <%= form.label :telegram, 'Telegram', class: "text-lg" %>
           <!-- Popover button-->
           <%= render 'shared/buttons/popover', text: t('telegram.telegram_popover'), icon: 'icons/icons8-info-50.png'%>
       </div>
       <%= form.text_field :telegram, 
        class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
        placeholder: '@example', value: current_user&.telegram,
        required: false
       %>
    </div>

    <!-- Facebook input -->
    <div class="">
       <div class="flex items-center space-x-2 rtl:space-x-reverse">
           <%= form.label :facebook, 'Facebook', class: "text-lg" %>
           <!-- Popover button-->
           <%= render 'shared/buttons/popover', text: t('facebook.facebook_popover'), icon: 'icons/icons8-info-50.png'%>
       </div>
       <%= form.text_field :facebook, 
        class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
        placeholder: 'https://web.facebook.com/example',
        required: false
       %>
    </div>
</div>