  <!-- Email input -->
  <div class="">
     <div class="flex items-center">
         <%= tag.span '*', class: "text-red-500 mr-1" if current_page?(new_registration_path(resource_name))%>
         <%= form.label :email, class: "text-lg" %>
     </div>
     <%= form.email_field :email, autofocus: true, autocomplete: "email", 
      class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
      id: "email-input",
      placeholder: "Email address",
      required: true
     %>
  </div>
  
  <!-- Phone input -->
  <div class="">
     <div class="flex items-center">
         <%= tag.span '*', class: "text-red-500 mr-1" if current_page?(new_registration_path(resource_name))%>
         <%= form.label :phone, class: "text-lg" %>
     </div>
     <%= form.text_field :phone, autocomplete: "phone", 
      class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
      id: "phone-input",
      placeholder: '+(972) __-___ ____',
      required: true
     %>
  </div>

  <!-- Password input -->
  <div class="">
    <div class="flex items-center">
        <%= tag.span '*', class: "text-red-500 mr-1" if current_page?(new_registration_path(resource_name))%>
        <%= form.label :password, class: "text-lg mr-1" %>
        <% if @minimum_password_length %>
            <!-- Popover button-->
            <%= render 'shared/buttons/popover', text: User.human_attribute_name('password_popover', length: @minimum_password_length)%>
        <% end %>
    </div>
    <%= form.password_field :password, autocomplete: "new-password",
      class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
      id: "password-input",
      placeholder: User.human_attribute_name('password'),
      required: true
    %>
  </div>

  <!-- Password confirmation -->
  <div class="">
     <div class="flex items-center">
         <%= tag.span '*', class: "text-red-500 mr-1" if current_page?(new_registration_path(resource_name))%>
         <%= form.label :password_confirmation, class: "text-lg" %>
     </div>
     <%= form.password_field :password_confirmation, autocomplete: "new-password",
       class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
       id: "passwordConfirmation-input",
       placeholder: User.human_attribute_name('password_confirmation'),
       required: true
     %>
  </div>