<!-- Password & Security form -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
    html: { method: :put }, data: { turbo: 'false'}) do |form| %>
  <%= render "shared/error_messages", resource: resource %>

    <div class="grid grid-cols-1 gap-6 mt-4">
        <!-- Credential info -->
        <%= render 'users/form/credential_info_fields', form: form %>
  
        <!-- Current password -->
        <%= tag.div class:"" do %>
         <div class="flex items-center">
             <span class="text-red-500 mr-1">&nbsp;*</span>
             <%= form.label :current_password, class: "text-lg mr-1" %>
             <!-- Popover button-->
             <%= render 'shared/buttons/popover', text: "#{User.human_attribute_name('current_popover')}"%>
         </div>
         <%= form.password_field :current_password, autocomplete: "current_password",
           class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
           id: "currentPassword-input",
           placeholder: User.human_attribute_name('current_password'),
           required: true
         %>
         <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
           <%= link_to t('sign_in.forgot'), new_password_path(resource_name), class: "text-gray-800" %>
         <% end %>
        <% end unless current_client && resource.provider.present?%>

        <!-- Buttons -->
        <div class="flex grid grid-cols-4">
          <!-- Button Save -->
          <div class="flex justify-start col-span-3">
              <%= form.submit t('global.save_btn'), class: "cursor-pointer px-6 py-2 leading-5 text-white transition-colors duration-200 transform  rounded-md  focus:outline-none bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4"%>
          </div>
        </div>  
    </div>
<% end %>     
 
  <!-- Delete account -->
  <div class="flex justify-end col-span-1 -mt-7">
      <%= link_to registration_path(resource_name), data: { turbo_method: :delete, turbo_confirm: t('sure_to_del_account') }, class: "justify-end items-center flex mx-0 leading-5 text-gray-700 " do %>
          <%= image_tag(asset_path('icons/icons8-remove-32.png'), class: 'w-5 h-5 mr-2')%>
           <%= User.human_attribute_name('delete_account')%>
      <% end %>
  </div>
  

