<div class="grid grid-cols-1 gap-6 md:grid-cols-2">
    <!-- First Name -->
    <div>
        <%= form.label :first_name, class: "text-gray-700 text-lg"%>
        <%= form.text_field :first_name, class: "block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring", placeholder: User.human_attribute_name('first_name')%>
    </div>
    
    <!-- Last Name -->
    <div>
        <%= form.label :last_name, class: "text-gray-700 text-lg"%>
        <%= form.text_field :last_name, class: "block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring", placeholder: User.human_attribute_name('last_name')%>
    </div>
    
    <!-- City -->
    <div class="">
        <%= form.label :city, class: "text-gray-700 text-lg"%>
        <%= form.grouped_collection_select(:city_id, District.all.decorate.drop(1), :cities, :title, :id, I18n.locale, 
            { include_blank: t('global.select'), selected: params[:city_id] || current_user.city_id}, 
            {class: "block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"})%>
    </div>
   
    <!-- Gender -->
    <%= tag.div do %>
        <%= form.label :gender, class: "ext-gray-700 text-lg" %>
        <%= form.select(:gender, options_for_select([[User.human_attribute_name('male'), 'male'], [User.human_attribute_name('female'), 'female']], current_user.gender), {include_blank: t('global.select')}, {class: "block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"})%>
    <% end if current_client %>
    
    <!-- Birthday -->
    <div>
        <%= form.label :birthday, User.human_attribute_name('birthday'), class: "text-gray-700 text-lg" %>
        <%= form.date_field :birthday, autocomplete: "birthday", 
         class: "block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
        %>
    </div>
</div>