<!-- component -->
<%= tag.div class: "relative h-6 w-6 mb-3 relative" do %>
    <!-- Icon -->
    <%= link_to rooms_path, type: "button", data: {turbo_frame: :rooms} do %>
        <%= turbo_frame_tag :messages_count do %>
            <%= render 'feedbacks/messages/notifications/count', count: current_user.unviewed_messages_count %>
        <% end %>
        <div class="text-gray-500 hover:text-gray-900 p-2">
           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
             <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
           </svg>
        </div>
    <% end %>
    <!-- Notifications list -->
    <%= turbo_frame_tag :notifications %>
<% end %>