<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- CSRF & stylesheets -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Favicon -->
    <%= favicon_link_tag asset_path('icons/chick-chuck/chick-chuck-favicon.png'), class: 'w-100 h-100'%>
    <!-- Current user -->
    <%= render 'layouts/current_user_meta'%>
  </head>

  <body class="flex flex-col h-screen w-screen justify-between">
      <% if user_signed_in? %>
        <%= turbo_stream_from "broadcast_to_user_#{current_user.id}" %>
      <% end %>
      <!-- Header -->
      <%= yield :navbar%>
      <!-- Main -->
      <main class="flex w-full mt-20 grid grid-flow-row auto-rows-max grid grid-cols-4"  id="top">
          <!-- Profile sidebar menu -->
          <%= tag.div (render 'shared/navigations/user_profile_sidebar'), class: "col-span-1 w-full hover:shadow-lg" if user_signed_in?%>
          <div class="w-full col-span-full lg:col-span-3">
              <div class="text-gray-700 relative 
                  <%= [controller_name, action_name].eql?(['rooms', 'show']) ? 'sm:p-4' : 'p-4'%>"
              >
                  <!-- Page Navigation -->
                  <%= render 'shared/navigations/profile_navigation' unless [controller_name, action_name].eql?(['rooms', 'show'])%>
                  <!-- Flash messages -->
                  <%= tag.div (render 'shared/flash_messages'), class: 'absolute right-3 sm:right-6 sm:top-3 z-20 sm:max-w-sm', id: "flash_messages"%>
                  <section class="w-full mx-auto rounded-md shadow-md hover:shadow-lg 
                      <%= [controller_name, action_name].eql?(['rooms', 'show']) ? 'p-0 h-screen' : 'p-6 min-h-screen'%> "
                  >
                      <%= tag.h1 yield(:main_title), class:"mb-6 text-xl font-bold text-gray-700 capitalize"%>
                      <!-- Content -->
                      <%= yield %>
                  </section>
              </div>
          </div>
      </main>
      <!-- Footer -->
      <%= yield :footer unless [controller_name, action_name].eql?(['rooms', 'show'])%>
  </body>
</html>
