
<div class="w-full bg-white border border-gray-200 rounded-lg shadow-md hover:shadow-lg mb-6">
    <ul class="text-lg font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg sm:flex">
        <li class="w-full">
            <span class=" inline-block w-full p-4 rounded-tl-lg border-b border-b-gray-100">
                <%= t('statistic.title') + ' ' + t('statistic.visits')%>
            </span>
        </li>
    </ul>
    <div class="border-t border-gray-200">
        <div class="p-4 bg-white rounded-lg">
            <dl class="grid max-w-screen-xl grid-cols-2 gap-6 p-4 mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-6">
                <div class="flex flex-col items-center justify-center">
                    <dt class="mb-2 text-3xl font-extrabold"><%= @statistic.main %></dt>
                    <dd class="text-gray-500"><%= t('pages.home')%></dd>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <dt class="mb-2 text-3xl font-extrabold"><%= @statistic.calculator%></dt>
                    <dd class="text-gray-500"><%= t('pages.calculator')%></dd>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <dt class="mb-2 text-3xl font-extrabold"><%= @statistic.companies%></dt>
                    <dd class="text-gray-500"><%= t('company.carriers').capitalize%></dd>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <dt class="mb-2 text-3xl font-extrabold"><%= @statistic.market%></dt>
                    <dd class="text-gray-500"><%= t('pages.market')%></dd>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <dt class="mb-2 text-3xl font-extrabold"><%= @statistic.about%></dt>
                    <dd class="text-gray-500"><%= t('pages.about')%></dd>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <dt class="mb-2 text-3xl font-extrabold"><%= @statistic.moving_preparation%></dt>
                    <dd class="text-gray-500"><%= t('moving_preparation.title')%></dd>
                </div>
            </dl>
        </div>
    </div>
</div>
